<section class="content" ng-controller="HomeController as hCtrl">
  <div class="box">
    <div class="box-header with-border">
      <div class="box-title">Adicionar um novo grupo</div>
    </div>
    <div class="box-body">
      <div role="form">
        <div class="box-body">
          <field id="name" label="Nome" grid="12 6 4" placeholder="Informe nome do Grupo" model="hCtrl.groups.nameGroup" readonly="false"></field>
        </div>
      </div>

      <div class="row">
        <section class="content">
          <fieldset>
            <legend>Alunos</legend>
          </fieldset>
          <div class="col-sm-6">
              <div ng-include="'groups/studenForm.html'"></div>
          </div>
          <div class="col-sm-6">
            <div ng-include="'groups/studentList.html'"></div>
          </div>
        </section>
      </div>

    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-default" ng-click="hCtrl.refresh()">Cancelar</button>
      <button type="submit" class="btn btn-success pull-right" ng-click="hCtrl.save()">Salvar</button>
    </div>
  </div>
</section>